body {
  background-color: #000000;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  padding: 24px;
  background-color: #000000;
}

#animatediv {
  color: white;
  font-size: 70px;
  text-align: center;
  font-family: 'Coda Caption', sans-serif;
  padding-top: 50px;
  width: 1200px;
  height: 180px;
  background-color: #300;
  animation: back-ani 20s linear infinite;
}

@keyframes back-ani {
  0% {
    background-color: #e6c927;
  }

  33% {
    background-color: #0b4ab0;
  }

  66% {
    background-color: #41ab7d;
  }

  100% {
    background-color: #e6c927;
  }

} */
header p {
  font-family: 'Bitter', serif;
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 50px;
}

p {
  font-family: 'Bitter', serif;
  font-size: 20px;
  color: #ffffff;
}

h2 {
  font-family: 'Coda Caption', sans-serif;
  font-size: 40px;
}


a {
  color: #e6c927;
  text-decoration: none;
}

a:hover {
  color: #0b4ab0;
  text-decoration: none;
}

a:visited {
  color: #41ab7d;
  text-decoration: none;
}

.reveal {
  width: 1200px;
  height: 900px;
  overflow: hidden;
  margin: 0px;
  position: relative;
}

.reveal img {
  transition: all 1.5s;
}

.reveal:hover img {
  opacity: 0;
}



#undermoobloom img{
  position: absolute;
  top: 750px;
  left: 400px;
  width: 700px;
  height: 500px;
  opacity: 1;
}

#undermoobloom p{
  position: absolute;
  top: 750px;
  left: 400px;
  width: 800px;
  height: 500px;
  opacity: 1;
}



#undericeologer img{
  position: absolute;
  top: 1800px;
  left: 400px;
  width: 700px;
  height: 500px;
  opacity: 1;
}

#undericeologer p{
  position: absolute;
  top: 1800px;
  left: 400px;
  width: 800px;
  height: 500px;
  opacity: 1;
}

#undersquid img{
  position: absolute;
  display: block;
  top: 2900px;
  left: 400px;
  width: 700px;
  height: 500px;
  opacity: 1;
}

#undersquid p{
  position: absolute;
  display: block;
  top: 2900px;
  left: 400px;
  width: 800px;
  height: 500px;
  opacity: 1;
}
